/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, #r, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
#r, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Déclaration variable couleur*/
:root {
    --noir:#000000;
    --blanc:#FFFFFF;
    --orange:#C87418;
    --or:#C9B458;
    --vertFonce:#637C49;
    --vertClair:#9CAF88;
}

/*Chargement font*/

@font-face {
	font-family: Amoria;
	src: url(../media/font/amoria/AMORIA.otf);
}

@font-face{
	font-family: PersoHelvetica;
	src: url(../media/font/helvetica-255-cufonfonts/Helvetica.ttf);
}

/*Integration Hero */

#hero {
    background-image: url("../media/image/jpg/Hero/Hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    margin: 0;
    padding: 0;
  
}

/*Font helper*/
#amoriaFont{
  font-family: Amoria;
}

#heveticaFont{
  font-family: Persohelvetica;
}
/*Navbar Mobile*/

/* ---------- Header layout (flex) ---------- */
.nav-bar-container {
  width: 100%;
  box-sizing: border-box;
}

/* Utiliser un container flex pour aligner nav + bouton */
.nav-row {
  display: flex;
  align-items: center;        /* align vertical */
  justify-content: space-between; /* espace entre nav et btn */
  padding: 15px 15px;
  gap: 10px;
}

/* Desktop nav */
.nav-bar {
  display: none; /* mobile par défaut */
  flex: 1 1 auto;
  order:1;
  align-items: center;

}

/* Le <nav> interne: aligner les liens horizontalement */
.nav-bar nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

nav a{
  text-decoration: none;
  font-weight: bolder;
  color:var(--blanc);
}

/* Bouton Reserver */
#reservationButton #reserverHero {
  display: inline-block; /* Le bouton prendra maintenant sa vraie place */
  background-color: var(--vertFonce);
  color: var(--blanc);
  text-decoration: none;
  border: 3px solid var(--or);
  border-radius: 20px;
  font-family: PersoHelvetica;
}

#reservationButton{
	display:inline-block;
  
	order:3;
}
/* Burger trigger (visible mobile) */
#openBtn {
  display: block;
  text-decoration: none;
  order:0;
}
.burger-icon span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--or);
  margin: 6px 0;
}

/* Side menu mobile */
.sideNavBar-container {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -280px;
  background-color: var(--vertFonce);
  padding-top: 60px;
  transition: left 0.35s ease;
}
.sideNavBar-container.active {
  left: 0;
}
.sideNavBar-container .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: var(--blanc);
}

.sideNavBar-container ul { 
	padding: 0 10px; 
}

.sideNavBar-container a { 
	color: var(--blanc); 
	text-decoration: none; 
	display:block; 
	padding:12px 8px; 
}

/* ---------- Media queries ---------- */
/* Desktop: afficher nav + bouton, cacher burger & side menu */
@media screen and (min-width: 1300px) {
  #openBtn { display: none; }
  .sideNavBar-container { display: none !important; } /* safe hide */
  .nav-bar { display: block; }

}

/* Optionnel: tablette layout (ex : montrer burger < 992px) */
@media screen and (min-width: 992px) and (max-width: 1299px) {
  /* Par exemple: afficher la nav en inline si tu veux */
  /* ici on conserve burger sous 1300px comme demandé */
}

#logo a {
  text-decoration: none;
}

#hero #logo {
    text-decoration: none;
    font-family: Amoria;
    font-size:100px;
    color:var(--or);
}
#logo a {
  
  color: var(--or);
}



#altera {
    background-color: var(--or);
    margin: 0;
    padding: 0;
    display: block;
}

#altera h1 {
  font-family: Amoria;
  margin:10px;
  padding:10px;
}

#altera p {
  margin:10px;
  padding:10px;
}

#imageAltera{
	background-image: url(../media/image/jpg/Index/saladeRotie.jpg);
	width:100%;
	background-size: fixed;
}

#altera #reservationButtonAltera #reserver {
  text-decoration: none;
  color:var(--noir);
  border:3px solid var(--blanc);
  border-radius: 20px;
  margin-Bottom: 10px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#dejeuner h2{
  color: var(--blanc);
  padding: 10px;
  font-family: Amoria;
  text-align:center;
}

#dejeuner p {
  color:var(--blanc);
  padding:10px;
}


#dejeuner{
	background-color: var(--orange);
}

#image-dejeuner img{
  width:100%;

}

#dejeuner #reservationButtonDejeuner #reserverDejeuner {
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  margin-Bottom: 10px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}


#dejeuner #iconDejeuner img{
  width:50px;
  height:50px;
}

#ambiance{
  background-color: var(--vertFonce);
}

#ambiance h2{
  font-family:Amoria;
  color: var(--blanc);
  text-align: center;
  padding-top: 10px;
}

#ambiance p{
  color: var(--blanc);
  text-align: center;
}
#reservationButtonAmbiance{
  text-align: center;

}

#ambiance #reservationButtonAmbiance #reserverAmbiance{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#image-ambiance img{
  width:100%;
  
}

#horaire{
  background-color: var(--or);
  
}

#imageHoraire img{
  width:250px;
  object-position: center ;

}


/*
#horaireGauche{
  display: inline-block;
  padding-left: 20px;
}
*/

#horaire h2{
  font-family:Amoria;
}


#backgroundColor#r{
  background-color: var(--vertFonce);
}

#iconFooter img{
  width:30px;

}

#listLink#r li {
  list-style: none;
  text-decoration: none;
  color: var(--blanc);
  
}
#listLink#r li a{
  list-style: none;
  text-decoration: none;
  color: var(--blanc);
}

#listLink#r ul:first-child{
  font-weight: bolder;
}

#menu{
  background-color: var(--vertFonce);
}

#menu h2{
  font-family: Amoria;
  color:var(--blanc);
}

#premiereImageMenu img{
  width:100%;
  height: 220px;
  object-fit: cover;
}

#textPremierePartieMenu{
  background-color: var(--or);
}

#deuxiemeImageMenu img{
  width:100%;
  height: 220px;
  object-fit: cover;
}

#textDeuxiemePartieMenu{
  background-color: var(--vertClair);
}

#troisiemeImageMenu img{
  width:100%;
  height: 220px;
  object-fit: cover;
}

#textTroisiemePartieMenu{
  background-color: var(--orange);
}

#quatriemeImageMenu img{
  width:100%;
  height: 220px;
  object-fit: cover;
}

#textQuatriemePartieMenu{
  background-color: var(--or);
}

#buttonPremierePartieImage a {
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#buttonDeuxiemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#buttonTroisiemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#buttonQuatriemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
}

#bandeauImage{
  background-color: var(--orange);
}

#platesBackG{
  background-color: var(--vertClair);
}

#platesTitle{
  background-color: var(--or);
}

#platesTitle h2{
  font-family: Amoria;
}


#menuPlates img{
  width:100%;
}

#smallImgPlates img{
  width:100px;
  height:100%;
}

/*Background color helper*/

#backgroundColor{
  background-color: var(--vertClair);
}

#sectionOrange{
  background-color: var(--orange);
}

#sectionOr{
  background-color: var(--or);
}
#sectionVertClair{
  background-color: var(--vertClair);
}
#sectionVertFonce{
  background-color: var(--vertFonce);
}

/*Page avis*/

#imageAvis{
  width: 65px;
  height:65px;
  border-radius: 50px;
  
}

.container{
  width: 100%;
}

/*Page aboutUs*/

#imageAboutUsUne{
  width: 220px;
  height: 350px;

}

#imageAboutUsDeux{
  width: 330px;
  height: 190px;
}

#imageAboutUsTrois{
  width: 330px;
  height: 190px;
}

#imageAboutUsQuatre{
  width: 115px;
  height: 140px; 
}

/*Page Lieux*/

#imageLieuxUne img{
  width: 100%;
}

#imageLieuxDeux img{
  width: 100%;
}

#imageLieuxTrois img{
  width:100%;
}


footer ul li a {
  color:var(--blanc);
  text-decoration: none;
}

/*Page reservation*/

#grandeImageReservation{
  width:350px;
  height:350px;

}

#petiteImageReservation{

}

#textColorNoir{
  color:black;
}

#buttonColorGreen{
  color: var(--blanc);
  background-color: var(--vertFonce);
}

.gallery-img{
  width:100%;
  height:250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-img:hover{
  transform: scale(1.02);
  cursor: pointer;
}

#ornementTitreGalerie{
  width: 125px;
  height: 125px;
  object-fit: cover;
}