/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, #r, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
#r, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Déclaration variable couleur*/
:root {
    --noir:#000000;
    --blanc:#FFFFFF;
    --orange:#C87418;
    --or:#C9B458;
    --vertFonce:#637C49;
    --vertClair:#9CAF88;
}

/*Chargement font*/

@font-face {
	font-family: Amoria;
	src: url(../media/font/amoria/AMORIA.otf);
}

@font-face{
	font-family: PersoHelvetica;
	src: url(../media/font/helvetica-255-cufonfonts/Helvetica.ttf);
}

/*Gestion responsive font*/

html {

  font-size: clamp(16px, 1rem + 0.5vw, 20px);
}

body {
  
  font-size: 1rem; 
}

/*Integration Hero */

#hero {
    background-image: url("../media/image/jpg/Hero/Hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
  
}

/*Font helper*/
#amoriaFont{
  font-family: Amoria;
}

#heveticaFont{
  font-family: Persohelvetica;
}

h1, h2, h3, h4, h5, h6{
  font-family: Amoria;
}
p{
  font-family: PersoHelvetica;
}

/*Navbar Mobile*/

/*Header*/
.nav-bar-container {
  width: 100%;
  box-sizing: border-box;
}

/*Flex pour aligner nav + bouton */
.nav-row {
  display: flex;
  align-items: center;        
  justify-content: space-between; 
  padding: 15px 15px;
  gap: 10px;
}

/*Desktop nav*/
.nav-bar {
  display: none; 
  flex: 1 1 auto;
  order:1;
  align-items: center;

}

/* Le nav interne: aligner les liens horizontalement */
.nav-bar nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

/*Style élément nav bar*/

nav a{
  text-decoration: none;
  font-weight: bolder;
  color:var(--blanc);
}

/* Bouton Reserver */
#reservationButton #reserverHero {
  display: inline-block; 
  background-color: var(--vertFonce);
  color: var(--blanc);
  text-decoration: none;
  border: 3px solid var(--or);
  border-radius: 20px;
  font-family: PersoHelvetica;
  transition: transform 0.3s ease;
}

/*Hover bouton reservation*/

#reservationButton:hover, #reserverHero{
  transform: scale(1.04);
}

#reservationButton{
	display:inline-block;
  
	order:3;
}
/* Burger trigger (visible mobile) */
#openBtn {
  display: block;
  text-decoration: none;
  order:0;
}
.burger-icon span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--or);
  margin: 6px 0;
}

/* Side menu mobile */
.sideNavBar-container {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -280px;
  background-color: var(--vertFonce);
  padding-top: 60px;
  transition: left 0.35s ease;
}
.sideNavBar-container.active {
  left: 0;
}
.sideNavBar-container .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: var(--blanc);
}

.sideNavBar-container ul { 
	padding: 0 10px; 
}

.sideNavBar-container a { 
	color: var(--blanc); 
	text-decoration: none; 
	display:block; 
	padding:12px 8px; 
}

/*Media queries breakpoint nav > burger*/
@media screen and (min-width: 1300px) {
  #openBtn { display: none; }
  .sideNavBar-container { display: none !important; } 
  .nav-bar { display: block; }

}


@media screen and (min-width: 992px) and (max-width: 1299px) {

}

/*Traitement esthetique index*/

#logo a {
  text-decoration: none;
}

#hero #logo {
    text-decoration: none;
    font-family: Amoria;
    font-size:100px;
    color:var(--or);
}
#logo a {
  
  color: var(--or);
}



#altera {
    background-color: var(--or);
    margin: 0;
    padding: 0;
    display: block;
}

#imageAltera{
	background-image: url(../media/image/jpg/Index/saladeRotie.jpg);
	width:100%;
	background-size: fixed;
}

#altera #reservationButtonAltera #reserver {
  text-decoration: none;
  color:var(--noir);
  border:3px solid var(--blanc);
  border-radius: 20px;
  margin-Bottom: 10px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#reservationButtonAltera:hover{
  transform: scale(1.04); 
}

#dejeuner h2{
  color: var(--blanc);
  padding: 10px;
  font-family: Amoria;
  text-align:center;
}

#dejeuner p {
  color:var(--blanc);
  padding:10px;
}


#dejeuner{
	background-color: var(--orange);
}

#image-dejeuner img{
  width:100%;

}

#dejeuner #reservationButtonDejeuner #reserverDejeuner {
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  margin-Bottom: 10px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#reservationButtonDejeuner:hover{
  transform: scale(1.04);
}


#dejeuner #iconDejeuner img{
  width:80px;
  height:80px;
}

#ambiance{
  background-color: var(--vertFonce);
}

#ambiance h2{
  font-family:Amoria;
  color: var(--blanc);
  text-align: center;
  padding-top: 10px;
}

#ambiance p{
  color: var(--blanc);
  text-align: center;
}
#reservationButtonAmbiance{
  text-align: center;

}

#ambiance #reservationButtonAmbiance #reserverAmbiance{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#reservationButtonAmbiance:hover{
  transform: scale(1.04);
}


#image-ambiance img{
  width:100%;
  
}

#horaire{
  background-color: var(--or);
  
}

#imageHoraire img{
  width:250px;
  object-position: center ;

}


#horaire h2{
  font-family:Amoria;
}


#backgroundColor#r{
  background-color: var(--vertFonce);
}

#iconFooter img{
  width:50px;

}

#listLink li {
  list-style: none;
  text-decoration: none;
  color: var(--blanc);
  
}
#listLink li a{
  list-style: none;
  text-decoration: none;
  color: var(--blanc);

}

#listLink ul:first-child{
  font-weight: bolder;
}



#menu{
  background-color: var(--vertFonce);
}

#menu h2{
  font-family: Amoria;
  color:var(--blanc);
}


#premiereImageMenu img,
#deuxiemeImageMenu img,
#troisiemeImageMenu img,
#quatriemeImageMenu img {
    width: 100%;
    height: 100%;          
    min-height: 220px;   
    max-height:300px;  
    object-fit: cover;     
    display: block;        
}

#textPremierePartieMenu{
  background-color: var(--or);
}

#textDeuxiemePartieMenu{
  background-color: var(--vertClair);
}

#textTroisiemePartieMenu{
  background-color: var(--orange);
}

#textQuatriemePartieMenu{
  background-color: var(--or);
}


#buttonPremierePartieImage a {
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#buttonDeuxiemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#buttonTroisiemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}

#buttonQuatriemePartieImage a{
  text-decoration: none;
  color:var(--blanc);
  border:3px solid var(--blanc);
  border-radius: 20px;
  padding-right:10px;
  padding-left :10px;
  padding-top:2px;
  padding-bottom:2px;
  transition: transform 0.3s ease;
}



#buttonQuatriemePartieImage:hover, 
#buttonTroisiemePartieImage:hover, 
#buttonDeuxiemePartieImage:hover, 
#buttonPremierePartieImage:hover{
  transform: scale(1.04); 
}


#bandeauImage{
  background-color: var(--orange);
}

#platesBackG{
  background-color: var(--vertClair);
}

#platesTitle{
  background-color: var(--or);
}

#platesTitle h2{
  font-family: Amoria;
}


#menuPlates img{
  max-width:850px;
  width:100%;
}

#smallImgPlates img{
  width:100%;
  height:100%;
  min-width: 100px;
  min-height:100px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

/*Background color helper*/

#backgroundColor{
  background-color: var(--vertClair);
}

#sectionOrange{
  background-color: var(--orange);
}

#sectionOr{
  background-color: var(--or);
  height:100%;
}
#sectionVertClair{
  background-color: var(--vertClair);
}
#sectionVertFonce{
  background-color: var(--vertFonce);
}

/*Page avis*/

#imageAvis{
  width: 65px;
  height:65px;
  border-radius: 50px;
  
}

.container{
  width: 100%;
}

/*Page aboutUs*/

#imageAboutUsUne{
  width: 220px;
  height: 350px;

}

#imageAboutUsDeux{
  width: 100%;
  height: 100%;
}

#imageAboutUsTrois{
  width: 330px;
  height: 190px;
}

#imageAboutUsQuatre{
  width: 115px;
  height: 140px; 
}

/*Page Lieux*/

#imageLieuxUne img{
  
  width: 100%;
  height: 100%;
  
  max-height:550px;
  object-fit: cover;
  display: block;
}

#imageLieuxDeux img{
  width: 100%;
  height: 100%;
  max-width:550px;
  max-height:550px;
  object-fit: cover;
  display: block;
}

#imageLieuxTrois img{
  width:100%;
  height: 100%;
  max-height:550px;
  object-fit: cover;
  display: block;
}


footer ul li a {
  color:var(--blanc);
  text-decoration: none;
}

/*Page reservation*/

#grandeImageReservation{
  width:350px;
  height:350px;
}

#carouselReservation{
  width: 350px;
  height:350px;
}


#textColorNoir{
  color:black;
}

#buttonColorGreen{
  color: var(--blanc);
  background-color: var(--vertFonce);
}

.gallery-img{
  width:100%;
  height:250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-img:hover{
  transform: scale(1.02);
  cursor: pointer;
}

#ornementTitreGalerie{
  width: 125px;
  height: 125px;
  object-fit: cover;
}

#imageBandeauService img{
  width: 100%;
  height:100%;
  max-height: 600px;
}

#carouselInner{
  object-fit: cover;
  width: 350px;
  height:350px;
}

#imageCuisinier img{
  width: 100%;
  height:100%;
  max-height:550px;
  object-fit:cover;
  display:block;
}

#imageAboutUsUne{
  width:100%;
  height:100%;
  object-fit: cover;
  display: block;
}


#imageAboutUsDeux{
width:100%;
height: 100%;
display: block;
object-fit: cover;
min-height: 250px;
}

#imageAboutUsTrois{
  width: 100%;
  height:100%;
  object-fit: cover;
  min-height: 250px;
  max-height: 400px;
}

.image-about-us-small{
  width: 100%;
  height:200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

#petiteImageReservation{
  border-radius: 10px;
}
/*Galerie lightbox*/
.gallery-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#lightbox {
    display: none; 
    position: fixed;
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items:center;
    padding-top:0;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80vh;
    border-radius: 5px;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close-lightbox {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-lightbox:hover,
.close-lightbox:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#lightbox a{
  text-decoration: none;
}

